@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/effect-fade';

*,
html {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.swiper-pagination {
  position: relative;
  margin-top: 1.5rem;
}

.swiper-pagination-bullet {
  background: #9ca3af;
  opacity: 1;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background: #1f2937;
}

#hero .swiper-pagination {
  bottom: 20px !important;
  position: absolute !important;
  z-index: 50 !important;
}

#hero .swiper-pagination-bullet {
  background: white !important;
  opacity: 0.5 !important;
  width: 12px;
  height: 12px;
}

#hero .swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: white !important;
}

.offers-swiper .swiper-slide {
  width: 85%;
}

.blog-swiper .swiper-slide {
  width: 85%;
}

.blog-swiper {
  padding-bottom: 3rem !important;
}

.blog-swiper .swiper-pagination {
  position: static !important;
  margin-top: 1.5rem !important;
}

.blog-swiper .swiper-pagination-bullet {
  background: #000000 !important;
  opacity: 0.3 !important;
  width: 10px;
  height: 10px;
}

.blog-swiper .swiper-pagination-bullet-active {
  background: #000000 !important;
  opacity: 1 !important;
}

.product-version-swiper {
  padding-bottom: 3rem !important;
}

.product-version-swiper .swiper-pagination {
  position: static !important;
  margin-top: 1.5rem !important;
}

.product-version-swiper .swiper-pagination-bullet {
  background: #000000 !important;
  opacity: 0.3 !important;
  width: 10px;
  height: 10px;
}

.product-version-swiper .swiper-pagination-bullet-active {
  background: #000000 !important;
  opacity: 1 !important;
}
